# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
DATABASE_SCHEMA="public"

# Replace with your OAUTH credentials!
OAUTH_ISSUER="https://auth.example.com/"
OAUTH_AUDIENCE="localhost"
