{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Comic Catalog{% endblock %}

{% block main %}
    <div class="d-flex flex-column gap-4 p-4">
        {{ include('comic/_style.html.twig') }}

        <div class="d-flex flex-row px-1">
            <h3 class="fs-5 fw-semibold m-0 me-auto">New Comics</h3>
            <a href="{{
                path('app_comic_index')
                ~ '?page=2&orderBy=createdAt%20desc'
            }}" class="text-decoration-none">More →</a>
        </div>

        {{ render_esi(controller('App\\Controller\\ComicController::fragmentList', {
            limit: 12,
            page: 1,
            orderBy: ['createdAt desc']
        })) }}
    </div>
{% endblock %}
